@tailwind base;
@tailwind components;
@tailwind utilities;

*
{
    text-align: center;
}
.mx-auto {
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container.mx-auto.p-4 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    width: 250px;
    min-height: auto;
}

.container.mx-auto.p-4 .m4 ,
button
{
    padding: 25px;
    margin: 12px auto;
}

.image-class {
    all: unset;
    object-fit: cover;
    max-width: 100%;
  }
  